In [68]:
import pandas as pd
import datetime as dt
import numpy as np

## read in data
#gps = pd.read_csv('GPS_data.csv')
# Locations = pd.read_csv('Locations.csv')
gps = pd.read_csv('/Users/angiebatch/Documents/Doyle/GPS_data/GPS_data.csv')
Locations = pd.read_csv('/Users/angiebatch/Documents/Doyle/GPS_data/Locations.csv')

In [69]:
Locations

   Locations
0      HM_01
1    Kyle_01
2    Kyle_02
3    Kyle_03
4    Kyle_04
5    Kyle_05
6       R_01
7       R_02
8       R_03
9       R_04
10      R_05
11      R_07

In [71]:
gps.head()

,﻿Date,Time,Name,Location,City,St,Zip,Latitude,Longitude,Distance,Speed,Heading,Flags
0,3/1/2016 12:00 AM to 3/2/2016 12:00 AM,6:15:09 AM EST,-,R_05,Hollywood,FL,33019,26.024026,-80.133256,0.0,0,N (0°),G-------
1,3/1/2016 12:00 AM to 3/2/2016 12:00 AM,6:15:57 AM EST,-,R_05,Hollywood,FL,33019,26.024056,-80.133304,0.0,0,N (0°),G----I--
2,3/1/2016 12:00 AM to 3/2/2016 12:00 AM,6:32:02 AM EST,-,R_05,Hollywood,FL,33019,26.023956,-80.133328,0.0,0,N (0°),G-------
3,3/1/2016 12:00 AM to 3/2/2016 12:00 AM,6:33:41 AM EST,-,R_05,Hollywood,FL,33019,26.023956,-80.133328,0.0,0,N (0°),G----I--
4,3/1/2016 12:00 AM to 3/2/2016 12:00 AM,6:43:47 AM EST,-,R_05,Hollywood,FL,33019,26.023946,-80.133344,0.0,0,N (0°),G-------

In [72]:
## Move City, State, and Zip to Locations dataframe
Locations = pd.merge(Locations, gps[['Location','City','St','Zip']], 
                     left_on='Locations', right_on='Location')
Locations = Locations.drop_duplicates(['Location','City','St'])

Locations = Locations.iloc[:,1:]

In [73]:
Locations

    Location             City   St    Zip
0      HM_01            Davie  FL   33314
21      R_01       Okeechobee  FL   34972
63      R_02        South Bay  FL   33493
68      R_03      Belle Glade  FL   33430
276     R_04  Fort Lauderdale  FL   33316
292     R_05        Hollywood  FL   33019

In [74]:
## Drop Name, City, State, Zip, Lat, Lon, Speed, Heading, and Flags from gps
gps = gps.iloc[:,[0,1,3,9]]

In [75]:
gps.head()

                                    ﻿Date            Time Location  Distance
0  3/1/2016 12:00 AM to 3/2/2016 12:00 AM  6:15:09 AM EST     R_05       0.0
1  3/1/2016 12:00 AM to 3/2/2016 12:00 AM  6:15:57 AM EST     R_05       0.0
2  3/1/2016 12:00 AM to 3/2/2016 12:00 AM  6:32:02 AM EST     R_05       0.0
3  3/1/2016 12:00 AM to 3/2/2016 12:00 AM  6:33:41 AM EST     R_05       0.0
4  3/1/2016 12:00 AM to 3/2/2016 12:00 AM  6:43:47 AM EST     R_05       0.0